.about {
  &__title {
    margin-bottom: 40px;
  }
  &__info {
    max-width: 1120px;
    margin-right: auto;
    margin-left: auto;
  }
  &__info + &__title {
    margin-top: 90px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .info {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 42%;
    }
    .info + .image {
      margin-left: 30px;
    }
    .description {
      font-size: 1.6rem;
      color: @black;
    }
    .description + .description {
      margin-top: 20px;
    }
    .image {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
    }
    &--reversed {
      flex-direction: row-reverse;
      .info + .image {
        margin-right: 30px;
        margin-left: 0;
      }
    }
    & + & {
      margin-top: 40px;
    }
  }
}
.article {
  padding-top: 140px;
  &__breadcrumbs {
    margin-bottom: 40px;
  }
  &__title {
    text-align: left;
    margin-bottom: 15px;
  }
  &__body {
    max-width: 835px;
    margin-right: auto;
    margin-left: auto;
    h2 {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.3;
      color: @black;
      margin-top: 30px;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.3;
      color: @black;
    }
    p + p {
      margin-top: 20px;
    }
  }
  &__image {
    margin-bottom: 30px;
  }
  &__date {
    font-size: 1.6rem;
    font-weight: 600;
    color: @black;
    margin-bottom: 30px;
  }
}
.b2b {
  padding-top: 194px;
  &__title {
    margin-bottom: 40px;
  }
  &__notification {
    font-size: 1.6rem;
    color: @black;
    text-align: center;
  }
}
.benefits {
  padding: 90px 0;
  background-color: @pale;
  &__card {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 40px;
    }
    &--reversed {
      flex-direction: row-reverse;
    }
  }
  &__content {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    max-width: 410px;
    padding: 0 20px;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    color: @black;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.2;
    color: @black;
  }
  &__image {
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    text-align: right;
    &--reversed {
      text-align: left;
    }
    .background {
      max-width: 472px;
    }
    .positioned {
      max-width: 345px;
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
      &--reversed {
        left: unset;
        right: 10%;
      }
    }
  }
}
.blog {
  &__title {
    margin-bottom: 40px;
  }
  &__btn {
    text-align: center;
    margin-top: 40px;
  }
}
.blog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -20px -15px;
  &__item {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    padding: 20px 15px;
    a {
      &:hover,
      &:focus {
        .blog-list__image {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &__image {
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 100%;
      transition: transform @transition;
    }
  }
  &__date {
    font-size: 1.6rem;
    font-weight: 600;
    color: @black;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    color: @black;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.3;
    color: @black;
    span {
      font-size: 1.1rem;
    }
  }
}
.buyers {
  &__title {
    margin-bottom: 40px;
  }
  &__subtitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3;
    text-transform: uppercase;
    color: @black;
    margin-bottom: 20px;
  }
  &__info {
    max-width: 600px;
    & + & {
      margin-top: 15px;
    }
    a {
      font-weight: 600;
      color: @black;
      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
    &--general {
      margin-bottom: 20px;
    }
  }
  &__info + &__subtitle {
    margin-top: 30px;
  }
}
.cart-popup {
  background: @white;
  border: 1px solid @grey;
  &__body {
    position: relative;
    padding: 40px;
  }
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
    padding: 5px;
    span {
      color: @black;
      transition: color @transition;
    }
    &:hover,
    &:focus {
      span {
        color: @black-hover;
      }
    }
  }
  &__heading {
    font-size: 2rem;
    font-weight: 600;
    color: @black;
    margin-bottom: 30px;
  }
  &__info {
    display: flex;
  }
  &__thumbnail {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 110px;
    height: 120px;
    margin-right: 25px;
    overflow: hidden;
  }
  &__details {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    font-size: 1.6rem;
    color: @black;
    margin-bottom: 10px;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 700;
    color: @black;
    margin-bottom: 20px;
  }
}
.category {
  padding-top: 194px;
  padding-bottom: 90px;
  &__title {
    display: block;
    margin-bottom: 40px;
  }
  &__nav {
    margin-bottom: 40px;
  }
  &__product + &__product {
    margin-top: 40px;
  }
  .product-item {
    display: flex;
    align-items: center;
    &__image {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 50%;
      margin-right: 75px;
    }
    &__title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.2;
      color: @black;
      margin-bottom: 20px;
    }
    &__price {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.2;
      color: @black;
      margin-bottom: 30px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    &__link {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.2;
      color: @black;
      &:hover,
      &:focus {
        color: @brown;
      }
    }
    &__link[aria-current='page'] {
      color: @brown;
      cursor: default;
    }
  }
  .nav__item + .nav__item {
    padding-left: 20px;
    border-left: 1px solid #c4c4c4;
    margin-left: 20px;
  }
}
.checkout {
  &__title {
    text-align: left;
    margin-bottom: 40px;
  }
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__form {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
    max-width: 640px;
    margin-right: 40px;
    .checkout-form {
      &__email {
        padding: 30px;
        border: 1px solid @grey;
        border-radius: 5px;
        margin-bottom: 30px;
      }
      &__shipping {
        padding: 30px;
        border: 1px solid @grey;
        border-radius: 5px;
        fieldset {
          > .input + .input,
          > .inputs + .input,
          > .input + .inputs {
            margin-top: 20px;
          }
        }
      }
      legend {
        font-size: 1.6rem;
        font-weight: 600;
        color: @black;
        margin-bottom: 10px;
      }
      .inputs {
        display: flex;
        .input + .input {
          margin-left: 15px;
        }
      }
      .delivery {
        max-width: 310px;
        margin-top: 20px;
        margin-bottom: 20px;
        .radio {
          align-items: flex-start;
          justify-content: space-between;
        }
        .option {
          display: flex;
        }
        .info {
          font-size: 1rem;
          line-height: 1.3;
          color: #a3a3a3;
        }
        .price {
          flex: 0 0 55px;
          width: 100%;
          max-width: 55px;
          font-size: 1.6rem;
          line-height: 1.3;
          text-align: right;
          color: @black;
        }
      }
      .radio {
        display: flex;
        align-items: center;
        input {
          position: absolute;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 20px;
          height: 20px;
          opacity: 0;
          border-radius: 10px;
          & + .input-control {
            position: relative;
            font-size: 1.6rem;
            line-height: 1.3;
            color: @black;
            &:before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 20px;
              height: 20px;
              background: @white;
              border-radius: 10px;
              border: 1px solid @black;
            }
            &:after {
              content: '';
              position: absolute;
              top: 6px;
              left: 6px;
              background: @black;
              width: 8px;
              height: 8px;
              opacity: 0;
              border-radius: 10px;
              transition: opacity 0.2s cubic-bezier(0.57, 0.21, 0.69, 1.25);
            }
          }
          &:checked {
            & + .input-control {
              &:after {
                opacity: 1;
              }
            }
          }
        }
        label {
          font-size: 1.6rem;
          line-height: 1.3;
          color: @black;
        }
      }
      .payment {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      .radio + .radio {
        margin-top: 15px;
      }
      .agreement {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        input {
          position: absolute;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 20px;
          height: 20px;
          opacity: 0;
          & + label {
            position: relative;
            font-size: 1.6rem;
            line-height: 1.3;
            color: @black;
            &:before {
              content: '';
              margin-right: 10px;
              display: inline-block;
              vertical-align: text-top;
              width: 20px;
              height: 20px;
              background: @white;
              border: 1px solid @black;
            }
            &:after {
              content: '';
              position: absolute;
              top: 6px;
              left: 6px;
              background: @black;
              width: 8px;
              height: 8px;
              opacity: 0;
              transition: opacity 0.2s cubic-bezier(0.57, 0.21, 0.69, 1.25);
            }
          }
          &:checked {
            & + label {
              &:after {
                opacity: 1;
              }
            }
          }
          &._error {
            & + label {
              color: @red;
              &:before {
                border-color: @red;
              }
            }
          }
        }
        a {
          color: @brown;
          transition: color @transition;
          &:hover,
          &:focus {
            color: @brown-hover;
          }
          &:focus {
            text-decoration: underline;
          }
        }
      }
      .warning {
        display: none;
        font-size: 1.6rem;
        line-height: 1.3;
        color: @red;
        margin-bottom: 15px;
        &.active {
          display: block;
        }
      }
    }
  }
  &__summary {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 45%;
    padding: 30px;
    border: 1px solid @grey;
    border-radius: 5px;
    .subtitle {
      font-size: 1.6rem;
      font-weight: 600;
      color: @black;
      margin-bottom: 40px;
    }
    .details {
      display: flex;
      align-items: center;
    }
    .details + .details {
      margin-top: 30px;
    }
    .image {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 72px;
      height: 96px;
      margin-right: 35px;
    }
    .title {
      flex-grow: 1;
      flex-shrink: 1;
      font-size: 1.6rem;
      line-height: 1.3;
      color: @black;
      margin-right: auto;
    }
    .price-details {
      align-self: flex-start;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 90px;
      .price {
        display: block;
        font-size: 1.6rem;
        font-weight: 700;
        color: @black;
        margin-bottom: 10px;
      }
      .qty {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 10px;
        border: 1px solid @black;
        .label {
          font-size: 1.6rem;
          font-weight: 600;
          color: @grey;
          margin-right: 10px;
        }
        .value {
          font-size: 2rem;
          font-weight: 500;
          line-height: 1;
          text-transform: uppercase;
          color: @black;
        }
      }
    }
    .subtotal,
    .tax,
    .shipping,
    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.6rem;
      font-weight: 700;
      color: @grey;
      .value {
        font-weight: 400;
      }
    }
    .subtotal {
      margin-top: 40px;
      margin-bottom: 15px;
    }
    .tax {
      margin-bottom: 15px;
    }
    .shipping {
      margin-bottom: 25px;
    }
    .total {
      color: @black;
    }
  }
}
.contact {
  padding-top: 201px;
  &__title {
    max-width: 530px;
    text-align: left;
    margin-top: -115px;
    margin-bottom: 136px;
  }
  &__body {
    display: flex;
    background: @pale;
    padding-right: 85px;
    padding-left: 60px;
  }
  &__image {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-basis: 472px;
    padding-bottom: 60px;
    margin-top: -111px;
    margin-right: 5.5vw;
    img {
      width: 100%;
    }
  }
  &__info {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 570px;
    padding-bottom: 60px;
  }
  &__text {
    font-size: 2rem;
    line-height: 1.3;
    color: @black;
    margin-bottom: 40px;
  }
  &__form {
    margin-bottom: 15px;
  }
  &__input {
    & + & {
      margin-top: 25px;
    }
    input {
      width: 100%;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.3;
      color: @black;
      padding-bottom: 20px;
      border-bottom: 1px solid @black;
      transition: color @transition, border @transition;
      &::placeholder {
        text-transform: uppercase;
        transition: color @transition;
      }
      &._error {
        color: @red;
        border-bottom-color: @red;
        &::placeholder {
          color: @red;
        }
      }
      &:focus {
        border-bottom-color: #000000;
        &::placeholder {
          color: #000000;
        }
      }
    }
    input[name='surname'] {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      white-space: nowrap;
      width: 1px;
      visibility: hidden;
    }
  }
  &__warning {
    display: none;
    font-size: 1.6rem;
    line-height: 1.3;
    color: @red;
    margin-bottom: 15px;
    &.active {
      display: block;
    }
  }
  &__policy {
    font-size: 1.6rem;
    line-height: 1.3;
    color: @black;
    margin-bottom: 35px;
    a {
      color: @brown;
      transition: color @transition;
      &:hover {
        color: @brown-hover;
      }
      &:focus {
        text-decoration: underline;
        color: @brown-hover;
      }
    }
  }
  &--b2b {
    padding-bottom: 90px;
  }
}
.contacts {
  height: 100%;
  padding-top: 104px;
  &__title {
    text-align: left;
    margin-bottom: 40px;
  }
  &__body {
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__image {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
    margin-right: 6.4vw;
    img {
      width: auto;
      height: 100%;
      object-position: 50% 50%;
      object-fit: cover;
    }
  }
  &__phone,
  &__email {
    display: inline-block;
    font-size: 1.6rem;
    color: @black;
    &:hover,
    &:focus {
      color: @brown;
    }
  }
  &__phone {
    margin-bottom: 20px;
  }
  &__email {
    margin-bottom: 30px;
  }
  &__socials {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__social {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    a {
      &:hover,
      &:focus {
        span {
          color: @brown;
        }
      }
    }
    span {
      font-size: 3rem;
      color: @black;
      transition: color @transition;
    }
  }
  &__social + &__social {
    margin-left: 15px;
  }
}
.error-404 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: @black;
  padding-right: 15px;
  padding-left: 15px;
  z-index: 20;
  .error {
    font-size: 3.6rem;
    font-weight: 300;
    color: @white;
    margin-bottom: 15px;
  }
  .title {
    font-size: 18.6rem;
    font-weight: 500;
    color: @white;
    margin-bottom: 15px;
  }
  .notification {
    font-size: 3.6rem;
    font-weight: 300;
    color: @white;
    margin-bottom: 40px;
  }
}
.feedback {
  background: @pale;
  &__title {
    margin-bottom: 40px;
  }
  &__slider {
    margin: 0 auto;
    margin-bottom: 40px;
    .review-card {
      margin: 0 auto;
    }
    .splide {
      &__arrow {
        position: absolute;
        top: 220px;
        width: 23px;
        z-index: 2;
        &:hover,
        &:focus {
          span {
            color: @brown-hover;
          }
        }
        span {
          font-size: 2.3rem;
          color: @black;
          transition: color @transition;
        }
      }
      &__arrow--prev {
        left: 0;
        transform: rotate(180deg);
      }
      &__arrow--next {
        right: 0;
      }
      &__slide {
        padding-top: 45px;
      }
    }
  }
  &__btn {
    text-align: center;
  }
}
.hero {
  padding-top: 104px;
  .splide {
    &__slide {
      position: relative;
    }
    &__info {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 2;
    }
  }
  &__logo {
    max-width: 325px;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
  }
  &__title {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.2;
    color: @white;
    margin-bottom: 35px;
  }
}
.highlights {
  background: @pale;
  &__title {
    text-align: left;
    margin-bottom: 40px;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    max-width: 480px;
    padding: 30px 0;
    margin-right: 30px;
  }
  &__list {
    list-style: none;
    counter-reset: steps;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    counter-increment: steps;
    font-size: 2rem;
    line-height: 1.3;
    color: @black;
    & + & {
      margin-top: 40px;
    }
    &::before {
      content: counter(steps);
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 45px;
      width: 100%;
      max-width: 45px;
      height: 45px;
      line-height: 1;
      color: @black;
      background: @white;
      margin-right: 20px;
    }
  }
  &__image {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 55%;
  }
}
.orders {
  &__title {
    margin-bottom: 40px;
  }
  .profile__nav {
    margin-right: 0;
  }
  .table {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: scroll;
    .notification {
      font-size: 1.4rem;
      color: @black;
      padding-left: 30px;
      &.hidden {
        display: none;
      }
    }
    &__headers {
      width: max-content;
      min-width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-content: stretch;
      padding-bottom: 20px;
      padding-left: 30px;
      border-bottom: 1px solid @grey;
      margin-bottom: 30px;
    }
    &__header {
      min-width: 140px;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.3;
      color: @black;
    }
    &__items {
      padding-left: 30px;
    }
    &__item {
      width: max-content;
      min-width: 100%;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: stretch;
      align-items: center;
      .cell {
        min-width: 140px;
      }
      .image {
        height: 96px;
        img {
          max-width: 72px;
        }
      }
    }
  }
  .table__item + .table__item {
    margin-top: 30px;
  }
}
.organic {
  &__title {
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    & + & {
      margin-left: 30px;
    }
    a {
      &:hover,
      &:focus {
        .organic__thumbnail {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &__thumbnail {
    margin-bottom: 25px;
    overflow: hidden;
    img {
      transition: transform @transition;
    }
  }
  &__caption {
    font-size: 2rem;
    font-weight: 500;
    color: @black;
  }
}
.password-recovery {
  &__title {
    margin-bottom: 40px;
  }
  &__body {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
    .notification {
      font-size: 1.6rem;
      line-height: 1.3;
      text-align: center;
      color: @black;
      margin-bottom: 40px;
    }
    .form {
      &__warning {
        display: none;
        font-size: 1.4rem;
        line-height: 1.3;
        color: @red;
        .value {
          color: @black;
        }
        &.active {
          display: block;
        }
      }
      &__buttons {
        display: flex;
        .btn {
          flex-grow: 1;
          flex-shrink: 1;
        }
        .btn + .btn {
          margin-left: 15px;
        }
      }
    }
    .input + .form__warning {
      margin-top: 15px;
    }
    .input + .form__buttons {
      margin-top: 30px;
    }
    .form__warning + .form__buttons {
      margin-top: 30px;
    }
    &--success {
      max-width: 630px;
      .page-title {
        text-align: left;
      }
    }
    .instructions,
    .instruction {
      font-size: 1.6rem;
      line-height: 1.3;
      color: @black;
    }
    .instructions {
      margin-bottom: 20px;
    }
    .instruction {
      a {
        color: @brown;
        transition: color @transition;
        &:hover,
        &:focus {
          color: @brown-hover;
        }
        &:focus {
          text-decoration: underline;
        }
      }
    }
    .instruction + .instruction {
      margin-top: 15px;
    }
  }
}
.product {
  padding-top: 144px;
  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .thumbnails {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 600px;
      margin-right: 4vw;
    }
    .control {
      display: none;
    }
    .thumbnail + .thumbnail {
      margin-top: 25px;
    }
    .not-available {
      display: none;
    }
    .info {
      position: sticky;
      top: 123px;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      padding-bottom: 110px;
    }
    .title {
      font-size: 3rem;
      font-weight: 500;
      color: @black;
      margin-bottom: 20px;
    }
    .subtitle {
      font-size: 2rem;
      font-weight: 700;
      color: @black;
      margin-bottom: 20px;
    }
    .description {
      font-size: 1.6rem;
      color: @black;
      margin-bottom: 40px;
      &--bold {
        font-weight: 700;
      }
      &--volume,
      &--price {
        font-size: 2rem;
      }
    }
    .items-counter {
      &__form {
        margin-bottom: 40px;
      }
      button {
        transition: opacity @transition;
      }
    }
  }
  &.not-in-stock {
    .not-available {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20px;
      right: 28px;
      width: 100px;
      height: 100px;
      background: @black;
      border-radius: 50px;
      span {
        font-size: 1.4rem;
        color: @white;
      }
    }
  }
  &__popup {
    width: 460px;
    position: fixed;
    top: 119px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: opacity @transition, visibility @transition,
      transform @transition;
    z-index: 3;
    &.active {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }
}
.profile {
  &__title {
    margin-bottom: 40px;
  }
  &__body {
    display: flex;
  }
  &__nav {
    padding-right: 40px;
    border-right: 1px solid @grey;
    margin-right: 40px;
  }
  &__link {
    & + & {
      margin-top: 15px;
    }
    a[aria-current='page'] {
      color: @black;
      cursor: default;
      &:hover,
      &:focus {
        color: @black;
      }
    }
    a {
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 1.3;
      color: @grey;
      transition: color @transition;
      &:hover,
      &:focus {
        color: @brown;
      }
    }
  }
  &__form {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 365px;
    .form {
      label {
        font-size: 1.6rem;
        font-weight: 600;
        color: @black;
        margin-bottom: 10px;
      }
      &__inputs {
        margin-bottom: 30px;
      }
      &__buttons {
        display: flex;
        .btn {
          width: 100%;
        }
        .btn + .btn {
          margin-left: 15px;
        }
      }
    }
    .form__input + .form__input {
      margin-top: 20px;
    }
  }
}
.recommendation {
  padding: 90px 0;
  background: @pale;
  &__title {
    text-align: left;
    margin-bottom: 40px;
  }
  &__list {
    display: flex;
  }
  &__item {
    text-align: center;
    & + & {
      margin-left: 20px;
    }
    a {
      &:hover,
      &:focus {
        .thumbnail {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
    .thumbnail {
      margin-bottom: 20px;
      overflow: hidden;
      img {
        transition: transform @transition;
      }
    }
    .title {
      font-size: 2rem;
      font-weight: 500;
      color: @black;
      margin-bottom: 15px;
    }
    .price {
      font-size: 1.6rem;
      font-weight: 700;
      color: @black;
    }
  }
}
.reviews-page {
  &__title {
    margin-bottom: 85px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  &__review-card {
    & + & {
      margin-top: 85px;
    }
  }
}
.shopping-cart {
  &__title {
    text-align: left;
    margin-bottom: 40px;
  }
  .no-goods {
    display: none;
    font-size: 1.6rem;
    line-height: 1.3;
    color: @black;
    &.active {
      display: block;
    }
  }
  &__table {
    .table {
      &__headers,
      &__content {
        display: flex;
        align-items: center;
        .item {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 45%;
          margin-right: 20px;
        }
        .quantity {
          flex-grow: 0;
          flex-shrink: 1;
          flex-basis: 35%;
          margin-right: 20px;
        }
        .price {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: 150px;
          margin-left: auto;
        }
      }
      &__headers {
        margin-bottom: 30px;
        .quantity {
          .label--sm {
            display: none;
          }
        }
      }
      &__header {
        font-size: 2rem;
        font-weight: 600;
        color: @black;
      }
      &__content {
        &.removed {
          padding: 35px 0;
          border-top: 1px solid @grey;
          border-bottom: 1px solid @grey;
        }
      }
      &__data {
        .item-removed {
          display: none;
          font-size: 1.6rem;
          color: @black;
          &.active {
            display: block;
          }
        }
        .product-link {
          display: inline-flex;
          align-items: center;
          &.hidden {
            display: none;
          }
          &:hover,
          &:focus {
            .image {
              img {
                transform: scale(1.15);
              }
            }
            .title {
              color: @brown;
            }
          }
          .image {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 72px;
            margin-right: 35px;
            overflow: hidden;
            img {
              transition: transform @transition;
            }
          }
          .title {
            font-size: 1.6rem;
            color: @black;
            transition: color @transition;
          }
        }
        &.items-counter {
          &.hidden {
            display: none;
          }
        }
        .amount {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .return {
            display: none;
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 1.2;
            color: @black;
            margin-right: 10px;
            &.active {
              display: block;
            }
          }
          .value {
            font-size: 1.6rem;
            font-weight: 700;
            color: @black;
            margin-right: 20px;
            &.hidden {
              display: none;
            }
          }
          .remove {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 19px;
            span {
              font-size: 1.9rem;
            }
          }
        }
      }
    }
    .table__content + .table__content {
      margin-top: 40px;
    }
    .total {
      display: flex;
      justify-content: flex-end;
      margin-top: 15px;
      margin-bottom: 25px;
      .label,
      .value {
        font-size: 1.6rem;
        font-weight: 700;
        color: @black;
      }
      .label {
        margin-right: 17px;
      }
    }
    .checkout {
      text-align: right;
    }
  }
}
.sign-in {
  &__socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__social {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 30px;
    & + & {
      margin-left: 15px;
    }
    a {
      &:hover,
      &:focus {
        span {
          color: @brown;
        }
      }
    }
    span {
      font-size: 3rem;
      color: @black;
      transition: color @transition;
    }
  }
  &__choice {
    text-align: center;
    font-size: 1.6rem;
    color: @black;
    margin-bottom: 20px;
  }
}
.sign-in,
.sign-up {
  &__title {
    margin-bottom: 40px;
  }
  &__body {
    max-width: 345px;
    background: @white;
    margin-right: auto;
    margin-left: auto;
  }
  .link {
    font-size: 1.6rem;
    line-height: 1.3;
    color: @black;
    a {
      color: @brown;
      transition: color @transition;
      &:hover,
      &:focus {
        color: @brown-hover;
      }
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
.sign-up-success {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .message {
    font-size: 1.6rem;
    line-height: 1.3;
    color: @black;
    margin-bottom: 40px;
  }
}
.tips {
  &__title {
    margin-bottom: 40px;
  }
  &__btn {
    text-align: center;
    margin-top: 40px;
  }
}
