<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <small class="footer__brand">&copy; 2015 SAFISA</small>
      <ul class="menu footer__menu" role="menu">
        <li class="menu__item" role="none">
          <a href="contacts.html" class="footer-link" role="menuitem">Contacts</a>
        </li>
        <li class="menu__item" role="none">
          <a href="payment.html" class="footer-link" role="menuitem">Payment</a>
        </li>
        <li class="menu__item" role="none">
          <a href="delivery.html" class="footer-link" role="menuitem">Delivery</a>
        </li>
        <li class="menu__item" role="none">
          <a href="return.html" class="footer-link" role="menuitem">Return</a>
        </li>
      </ul>
      <a href="index.html" class="footer__logo" aria-hidden="true" tabindex="-1">
        <img src="img/logo.svg" alt="Safisa">
      </a>
      <ul class="footer__links" role="menu">
        <li class="footer__link" role="none">
          <a href="policy.html" class="footer-link" role="menuitem">Privacy Policy</a>
        </li>
        <li class="footer__link" role="none">
          <a href="https://www.instagram.com/websmnv/" class="footer-link" role="menuitem">Site creation</a>
        </li>
      </ul>
      <ul class="footer__socials" role="none">
        <li class="footer__social">
          <a href="#facebook">
            <span class="icon-facebook" aria-hidden="true"></span>
          </a>
        </li>
        <li class="footer__social">
          <a href="#instagram">
            <span class="icon-instagram" aria-hidden="true"></span>
          </a>
        </li>
        <li class="footer__social">
          <a href="#pinterest">
            <span class="icon-pinterest" aria-hidden="true"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>