<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <small class="footer__brand">&copy; 2015 SAFISA</small>
      <nav class="footer__nav">
        <ul class="menu" role="menu">
          <li class="menu__item" role="none">
            <a href="#contacts" role="menuitem">Contacts</a>
          </li>
          <li class="menu__item" role="none">
            <a href="#payment" role="menuitem">Payment</a>
          </li>
          <li class="menu__item" role="none">
            <a href="#delivery" role="menuitem">Delivery</a>
          </li>
          <li class="menu__item" role="none">
            <a href="#return" role="menuitem">Return</a>
          </li>
        </ul>
      </nav>
      <a href="#home" class="footer__logo" aria-hidden="true" tabindex="-1">
        <img src="img/logo.svg" alt="Safisa">
      </a>
      <ul class="footer__links" role="menu">
        <li class="footer__link" role="none">
          <a href="#policy" role="menuitem">Privacy Policy</a>
        </li>
        <li class="footer__link" role="none">
          <a href="#instagram" role="menuitem">Site creation</a>
        </li>
      </ul>
      <ul class="footer__socials" role="none">
        <li class="footer__social">
          <a href="#facebook">
            <img src="img/icons/icon-facebook.svg" class="inject-me" alt="facebook link">
          </a>
        </li>
        <li class="footer__social">
          <a href="#instagram">
            <img src="img/icons/icon-instagram.svg" class="inject-me" alt="instagram link">
          </a>
        </li>
        <li class="footer__social">
          <a href="#pinterest">
            <img src="img/icons/icon-pinterest.svg" class="inject-me" alt="pinterest link">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>