<header class="header">
  <div class="header__announcement">
    <span class="shipping">Free shipping over $35</span>
  </div>
  <div class="container">
    <div class="header__body">
      <button class="header__burger" type="button" aria-label="Menu" aria-controls="navigation">
        <div class="menu-switcher"></div>
      </button>
      <a href="#home" class="header__logo" aria-hidden="true" tabindex="-1">
        <img src="img/logo.svg" alt="Safisa">
      </a>
      <nav class="header__nav">
        <div class="currency-dropdown">
          <form action="#" class="currency">
            <div class="currency__wrapper has-dropdown">
              <button aria-label="currency us dollar" type="button" class="currency__option">usd ($)</button>
              <div class="arrow"></div>
              <ul class="currency__list visually-hidden">
                <li class="currency__item">
                  <button aria-label="currency canadian dollar" class="currency__select" type="button" name="CAD">
                    cad (C$)
                  </button>
                </li>
                <li class="currency__item">
                  <button aria-label="currency uk pound" class="currency__select" type="button" name="GBP">
                    gbp (£)
                  </button>
                </li>
              </ul>
            </div>
          </form>
        </div>
        <ul class="site-menu">
          <li class="site-menu__item">
            <a href="#home">Home</a>
          </li>
          <li class="site-menu__item has-dropdown">
            <button aria-label="submenus for product pages">Shop</button>
            <div class="arrow"></div>
            <ul class="site-menu__sub-list visually-hidden">
              <li class="site-menu__sub-item">
                <a href="#acne-care">Acne care</a>
              </li>
              <li class="site-menu__sub-item">
                <a href="#hair-care">Hair care</a>
              </li>
              <li class="site-menu__sub-item">
                <a href="#skin-care">Skin care</a>
              </li>
            </ul>
          </li>
          <li class="site-menu__item">
            <a href="#about-us">About us</a>
          </li>
          <li class="site-menu__item">
            <a href="#beauty-tips">Beauty tips</a>
          </li>
          <li class="site-menu__item">
            <a href="#reviews">Reviews</a>
          </li>
          <li class="site-menu__item">
            <a href="#B2B">B2B</a>
          </li>
        </ul>
      </nav>
      <div class="header__user">
        <div class="profile has-dropdown active">
          <button aria-label="submenus for profile pages">My profile</button>
          <ul class="profile__list visually-hidden">
            <li class="profile__item">
              <a href="#profile">Profile</a>
            </li>
            <li class="profile__item">
              <a href="#orders">Orders</a>
            </li>
            <li class="profile__item">
              <button type="button" class="logout">Sign out of account</button>
            </li>
          </ul>
        </div>
        <a href="#sign-in" class="account hidden">Sign in</a>
        <a href="#cart" class="cart">
          <span class="label">Cart</span>
          <div class="value">0</div>
        </a>
      </div>
    </div>
  </div>
</header>